{{ 'component-brand-logo.css' | asset_url | stylesheet_tag }}
{% style %}
  {% assign desktop = section.settings.desktop_spacing | split :',' %}
  {% assign mobile = section.settings.mobile_spacing | split :',' %}
  .section--{{section.id}}{
    padding-top:{{desktop.first}};
    padding-bottom:{{desktop.last}};
  }
  @media(max-width:767px){
    .section--{{section.id}}{
        padding-top:{{mobile.first}};
        padding-bottom:{{mobile.last}};
      }
  }
{% endstyle %}
<div class="brand-logo__section section--{{ section.id }}">
  <div class="brand-logo__main">
    <div class="container">
      <div class="brand-logo__header">
        {% if section.settings.heading != blank %}
          <h2 class="brand-logo__title">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="brand-logo__text">{{ section.settings.text }}</div>
        {% endif %}
      </div>
      <div class="brand-logo__container">
        <div class="brand-logo__items">
          {% for block in section.blocks %}
            <div class="brand-logo__item">
              <div class="custom-media brand-logo__media">
                {%- if block.settings.image != blank -%}
                  {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                  {%- capture sizes -%}
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                      (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                    {%- endcapture -%}
                  {{
                    block.settings.image
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, class: "image"
                  }}
                {%- endif -%}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Brand Logo",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Add Title"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Add text"
    },
    {
      "type": "text",
      "label": "Desktop Spacing",
      "id": "desktop_spacing",
      "info": "Add Spacing for top and bottom",
      "default": "0px,0px",
      "placeholder": "20px,30px"
    },
    {
      "type": "text",
      "label": "Mobile Spacing",
      "id": "mobile_spacing",
      "info": "Add Spacing for top and bottom",
      "default": "0px,0px",
      "placeholder": "15px,12px"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Add Logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand Logo"
    }
  ]
}
{% endschema %}
